@model RestAPI8.Models.Superhero

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Superhero</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SuperheroName" class="control-label"></label>
                <input asp-for="SuperheroName" class="form-control" />
                <span asp-validation-for="SuperheroName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label"></label>
                <select asp-for="GenderId" class="form-control" asp-items="ViewBag.GenderId"></select>
                <span asp-validation-for="GenderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EyeColourId" class="control-label"></label>
                <select asp-for="EyeColourId" class="form-control" asp-items="ViewBag.EyeColourId"></select>
                <span asp-validation-for="EyeColourId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairColourId" class="control-label"></label>
                <select asp-for="HairColourId" class="form-control" asp-items="ViewBag.HairColourId"></select>
                <span asp-validation-for="HairColourId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SkinColourId" class="control-label"></label>
                <select asp-for="SkinColourId" class="form-control" asp-items="ViewBag.SkinColourId"></select>
                <span asp-validation-for="SkinColourId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaceId" class="control-label"></label>
                <select asp-for="RaceId" class="form-control" asp-items="ViewBag.RaceId"></select>
                <span asp-validation-for="RaceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublisherId" class="control-label"></label>
                <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.PublisherId"></select>
                <span asp-validation-for="PublisherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlignmentId" class="control-label"></label>
                <select asp-for="AlignmentId" class="form-control" asp-items="ViewBag.AlignmentId"></select>
                <span asp-validation-for="AlignmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeightCm" class="control-label"></label>
                <input asp-for="HeightCm" class="form-control" />
                <span asp-validation-for="HeightCm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeightKg" class="control-label"></label>
                <input asp-for="WeightKg" class="form-control" />
                <span asp-validation-for="WeightKg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
